{% extends 'base.html' %}
{% load post_extras %}
{% block content %}
    <div class="main_btns">
        <button>
            <a href="{% url 'ticket_create' %}">Demander une critique</a>
        </button>
        <button>
            <a href="{% url 'review_create' %}">Créer une critique</a>
        </button>
    </div>
    <div>
        {% for instance in page_obj %}
            {% if instance|model_type == 'Review' %}
                <div class="review_container">
                    {% include 'bookreview/partials/review.html' with review=instance %}
                    {% if instance.user == request.user %}
                        <button>
                            <a href="{% url 'review_edit' instance.pk %}">Modifier</a>
                        </button>
                        <button>
                            <a href="{% url 'review_delete' instance.pk %}">Supprimer</a>
                        </button>
                    {% endif %}
                </div>
                <!-- review_container -->
            {% elif instance|model_type == 'Ticket' %}
                <div class="ticket_container">
                    <p>Ticket - {% get_poster_display instance.user %}</p>
                    {% include 'bookreview/partials/ticket.html' with ticket=instance %}
                    {% if instance.user == request.user %}
                        <button>
                            <a href="{% url 'ticket_edit' instance.pk %}">Modifier</a>
                        </button>
                        <button>
                            <a href="{% url 'ticket_delete' instance.pk %}">Supprimer</a>
                        </button>
                    {% endif %}
                </div>
                <!-- ticket_container -->
            {% endif %}
        {% endfor %}
    </div>
    {% include 'partials/page_navigator.html' %}
{% endblock content %}
