{% extends 'base.html' %}

{% block content %}

{{ user }} is connected

<button><a href="{% url 'ticket_create' %}">Demander une critique</a></button>
<ul>
    {% for ticket in tickets %}
        {% if user == ticket.user %}
            <li><a href="{% url 'ticket_edit' ticket.pk %}">Ticket - {{ ticket.user }} - {{ ticket.title }}</a></li>
        {% else %}
            <li>Ticket - {{ ticket.user }} - {{ ticket.title }}</li>
        {% endif %}
    {% endfor %}
</ul>

<h3>Reviews</h3>
<ul>
    {% for review in reviews %}
        <li>{{ review }}</li>
    {% endfor %}
</ul>

{% endblock content %}