{% extends 'base.html' %}
{% load post_extras %}
{% block content %}
    <h2>Vos posts</h2>
    <div>
        {% for instance in page_obj %}
            {% if instance|model_type == 'Review' %}
                <div class="review_container">
                    {% include 'bookreview/partials/review.html' with review=instance %}
                    <div class="main_btns">
                        <button class="form_button"
                                onclick="window.location.href=`{% url 'review_edit' instance.pk %}`">Modifier</button>
                        <button class="form_button"
                                onclick="window.location.href=`{% url 'review_delete' instance.pk %}`">
                            Supprimer
                        </button>
                    </div>
                </div>
                <!-- review_container -->
            {% elif instance|model_type == 'Ticket' %}
                <div class="ticket_container">
                    <p>Ticket - {% get_poster_display instance.user %}</p>
                    {% include 'bookreview/partials/ticket.html' with ticket=instance %}
                    <div class="main_btns">
                        <button class="form_button"
                                onclick="window.location.href=`{% url 'ticket_edit' instance.pk %}`">Modifier</button>
                        <button class="form_button"
                                onclick="window.location.href=`{% url 'ticket_delete' instance.pk %}`">
                            Supprimer
                        </button>
                    </div>
                </div>
                <!-- ticket_container -->
            {% endif %}
        {% endfor %}
    </div>
    {% include 'partials/page_navigator.html' %}
{% endblock content %}
