{% extends 'base.html' %}
{% load post_extras %}
{% block content %}
    <h2>Vos posts</h2>
    <div>
        {% for instance in page_obj %}
            {% if instance|model_type == 'Review' %}
                {% include 'bookreview/partials/review.html' with review=instance %}
                <button>
                    <a href="{% url 'review_edit' instance.pk %}">Modifier</a>
                </button>
                <button>
                    <a href="{% url 'review_delete' instance.pk %}">Supprimer</a>
                </button>
            {% elif instance|model_type == 'Ticket' %}
                <p>Ticket - {% get_poster_display instance.user %}</p>
                {% include 'bookreview/partials/ticket.html' with ticket=instance %}
                <button>
                    <a href="{% url 'ticket_edit' instance.pk %}">Modifier</a>
                </button>
                <button>
                    <a href="{% url 'ticket_delete' instance.pk %}">Supprimer</a>
                </button>
            {% endif %}
            ---------------------
        {% endfor %}
    </div>
    {% include 'partials/page_navigator.html' %}
{% endblock content %}
