{% extends 'base.html' %}
{% block content %}
    <h2>Suivre des utilisateurs</h2>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="form_button" type="submit">Envoyer</button>
    </form>
    <h2>Abonnements</h2>
    <table>
        {% for user in followed_users %}
            <tr>
                <td>{{ user.followed_user.username }}</td>
                <td>
                    <button class="unfollow_btn">
                        <a href="{% url 'unfollow_user' user.followed_user.pk %}">Désabonner</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <h2>Abonnés</h2>
    <table>
        {% for follower in user_followees %}
            <tr>
                <td>{{ follower.user.username }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
