{% load post_extras %}
{% block content %}
    <div class="review">
        <div>
            <p>{% get_poster_display_in_review review.user %} publié une critique</p>
            <p class="time_created">{{ review.time_created|get_posted_at_display }}</p>
        </div>
        <div class="title">
            {{ review.headline }} -
            {% for rating in review.rating|get_range %}<span class="fa fa-star checked"></span>{% endfor %}
        </div>
        <div>{{ review.body }}</div>
        <div class="ticket_container">
            <p>Ticket - {% get_poster_display review.user %}</p>
            {% include 'bookreview/partials/ticket.html' with ticket=review.ticket %}
        </div>
    </div>
{% endblock content %}
